/* DataComponent.css */

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 3cqb;
    background-color: #f8f6f9;
  }
  
  h1 {
    text-align: center;
    color: #605151;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
    padding: 30px; /* Aumenta el padding para hacer los cuadros de texto más grandes */
    background-color: #bcdefd5b;
    border-radius: 10px;
  }
  
  h2 {
    color: #d95595;
  }
  
  p {
    color: #7032ed;
  }
  